.Collision {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  height: 100vh;
}

.Collision .wrapper {
  position: relative;
  width: 400px;
  height: 300px;
}

.Collision .wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.Collision .idWrapper {
  position: absolute;
  top: 160px;
  right: 20px;
  text-align: right;
}

.Collision .idSelector {
  width: 60px;
}

.Collision label {
  color: white;
  padding-right: 8px;
}